name: NetOps Pipeline

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        
      - name: Install Ansible
        run: pip install ansible-core

      - name: Run Ansible Playbook
        run: ansible-playbook site.yml --vault-password-file .vault_pass
